<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <title>{% block head_title %}Blog{% endblock %}</title>
</head>
<body>
    {% include 'blog/navbar.html' %}
      <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8" >
                <!-- Featured blog post-->
                {% block main_area %}

                {% endblock %}
                <!-- Pagination-->
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" id = "search-input" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button" onclick="searchPost();">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            {% if categories.exists %}
                                <ul >
                                {% for p in categories %}                                
                                    <li>
                                        <a href="{{ p.get_absolute_url }}">{{ p }} ({{ p.post_set.count }})</a>
                                    </li>                                
                                {% endfor %}
                                    <li>
                                        <a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blog/footer.html' %}
    <script>
        function searchPost(){
            let searchValue = document.getElementById('search-input').value.trim();
            if(searchValue.length > 1){
                location.href="/blog/search/"+ searchValue + "/";
            }
            else{
                alert('검색어('+ searchValue +')가 너무 짧습니다.');
            }
            
        };
        document.getElementById('search-input').addEventListener('keyup', function(event)
        {
            if (event.key === 'Enter'){
                searchPost();
            }
        }
        );
    </script>
</body>
</html>