<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <nav>
        <a href='/blog/'>Blog</a>
        <a href='/about_me/'>About_me</a>
        <a href='/'>Home</a>
    </nav>
    <h1>Blog</h1>
    {% for p in post_list %}
        <hr/>
        <h2><a href='/blog/{{p.pk}}/'>{{ p.title }}</a></h2>
        <h4>{{ p.content }}</h4>
        <h6>{{ p.created_at }}</h6>
    {% endfor %}
</body>
</html>