
{% extends 'blog/base.html' %}


{% block main_area %}

<h1>Blog    
    <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
    {% if category %}
    <span class="badge badge-secondary" style="font-size:30px">{{ category }}</span>
    {% endif %}
    {% if tag %}
    <span> <i class="fas fa-tags">{{ tag }}</i></span> 
    {% endif %}
</h1>
<div class="card mb-4" id='main-area' >
    {% if post_list.exists %}

    {% for post in post_list %}
    {% if post.head_image %}
    <a href="#!"><img class="card-img-top" src="{{ post.head_image.url }}" alt="{{ p }} head image" /></a>
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
    {% endif %}
    <div class="card-body">
        {% if post.category %}
        <span class="badge badge-secondary float-right" style="font-size:20px">{{ post.category }}</span>
        {% else %}
        <span class="badge badge-secondary float-right" style="font-size:20px">미분류</span>
        {% endif %}
        <div class="small text-muted">{{ post.created_at }}</div>
        <h6>작성자: {{ post.author }}</h6>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content | truncatewords:45 }}</p>
        <p>
            {% if post.tag.exists %}
            
            {% for tag in post.tag.all %}
            <i class="fas fa-tags"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></i>
            {% endfor %}
            </i>
            {% endif %}
        </p>
        <a class="btn btn-primary" href="/blog/{{ post.pk }}/">Read more →</a>
    </div>
    {% endfor %}

    {% else %}
    <h1>아직 게시물이 없습니다.</h1>
    {% endif %}
</div>

<!-- Pagination-->
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
        <li class="page-item"><a class="page-link" href="#!">15</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
    </ul>
</nav>
{% endblock %}
