{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Update Post -Blog {% endblock %}

{% block main_area %}

<h1>Update Post</h1>
<hr/>
<form method="post" entype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form | crispy}}
        <div>
            <label for="id_tags_str">Tags:</label>
            <input type="text" id="id_tags_str" name="tags_str" value="{{ tags_str_default }}" class="textinput textInput form-control">
        </div>
    </table>
    {{ form.media }}
    <button type="submit" class="btn btn-primary float-right"> Submit </button>
</form>

{% endblock %}