

        {% extends 'blog/base.html' %}
        
        {% block head_title %}
            {{post.title}} - Blog
        {% endblock %}

        {% block main_area %}

        <!-- Post header-->
        <header class="mb-4">

        </header>
        <!-- Preview image figure-->
        <div id="post-area">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">{{ post.created_at }}`</div>
        <!-- Post categories-->
        {% for tag in post.tag.all %}
        <i class="fas fa-tags"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></i>
        {% endfor %}
        {% if post.head_image %}
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}"></figure>
        {% else %}
        <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.pk }}/900/400/"></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            {{ post.content }}
        </section>
        {% if post.file_upload %}
        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>Download:
            {% if post.get_file_ext == 'jpg' %}
            <i class="far fa-file-image"></i>
            {% elif post.get_file_ext == 'xlsx' %}
            <i class ="fas fa-file-excel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
            <i class = "fas fa-file-word"></i>
            {% else %}
            <i class="far fa-file"></i>
            {% endif %}
        </a>
        {% endif %}
        </div>
    <!-- Comments section-->
<div id="comment-area">
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
            </div>
        </div>
    </section>
</div>

{% endblock %}